node_modules/
dist/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
nul

frontend/node_modules/
frontend/dist/
frontend/.env
backend/node_modules/
backend/dist/
backend/.env

# Documentación interna ignorada
doc/
