@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #c8aa5a;
  --color-secondary: #0021ad;
  --color-base: #fdfdfd;
  --color-base2: #efefef;
}

/* Custom animations */
@keyframes side-bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(7px);
  }
  40%,
  100% {
    transform: translateX(0);
  }
}

.animate-side-bounce {
  animation: side-bounce 1.4s ease-in-out infinite;
}
